{{#each this}}
  <li style='border: 3px solid {{avg_color}}'>
    <img src='{{src.tiny}}' alt='{{photographer}}' data-src='{{src.large}}' />
    <p>Photographer: {{photographer}}</p>
  </li>
{{/each}}